<!-- /templates/page.productinfor.liquid -->
<div class="grid">

  <div class="grid__item large--one-whole">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
      <div class="grid">
		<div class="grid__item large--one-whole text-center">
			<h2>Benefits</h2>
		</div>
		</div>
		<div class="grid section benefits">
		<div class="grid__item large--one-quarter text-center">
			<div class="grid">
				<div class="grid__item large--one-whole text-center"><img src="https://cdn.shopify.com/s/files/1/0871/1518/files/sticks-icon.png?14442248454343803028" /></div>
			</div>
			<div class="grid">
				<div class="grid__item large--one-whole text-center">
					<p>Give the bugs, branches, sand, rocks and cold wind to the windshield.</p>
				</div>
			</div>
		</div>
		<!--end large--one--quarter-->
		<div class="grid__item large--one-quarter text-center">
			<div class="grid">
				<div class="grid__item large--one-whole text-center"><img src="https://cdn.shopify.com/s/files/1/0871/1518/files/rain-icon.png?14442248454343803028" /></div>
			</div>
			<div class="grid">
				<div class="grid__item large--one-whole text-center">
					<p>Keeping the wind off you can make cool weather rides much more comfortable.</p>
				</div>
			</div>
		</div>
		<!--end large--one--quarter-->
		<div class="grid__item large--one-quarter text-center">
			<div class="grid">
				<div class="grid__item large--one-whole text-center"><img src="https://cdn.shopify.com/s/files/1/0871/1518/files/eye-icon.png?14442248454343803028" /></div>
			</div>
			<div class="grid">
				<div class="grid__item large--one-whole text-center">
					<p>The slim form factor shields you from the elements without compromising visibility.
</p>
				</div>
			</div>
		</div>
		<!--end large--one--quarter-->
		<div class="grid__item large--one-quarter text-center">
			<div class="grid">
				<div class="grid__item large--one-whole text-center"><img src="https://cdn.shopify.com/s/files/1/0871/1518/files/trailer-icon.png?14442248454343803028" /></div>
			</div>
			<div class="grid">
				<div class="grid__item large--one-whole text-center">
					<p>Taking your Side by Side out of town? Don't worry these windshield are fully trailerable.</p>
				</div>
			</div>
		</div>
		<!--end large--one--quarter--></div>
		<!--end grid-->
		<div class="grid">
			<div class="grid__item large--one-whole text-center">
				<h2>Half vs. Full Windshield</h2>
			</div>
		</div>
		<div class="grid section">
			<div class="grid__item large--one-half">
				<div class="grid">
					<div class="grid__item large--one-half"><img src="//cdn.shopify.com/s/files/1/0871/1518/files/placeholder_medium.jpg?5565415727846142242" /></div>
					<div class="grid__item large--one-half">
						<p>Our half windshields provide the protection you need from debris and rain without blocking the airflow you need to keep you cool in the hot summer months.</p>
					</div>
				</div>
			</div>
			<div class="grid__item large--one-half">
				<div class="grid">
					<div class="grid__item large--one-half"><img src="//cdn.shopify.com/s/files/1/0871/1518/files/placeholder_medium.jpg?5565415727846142242" /></div>
					<div class="grid__item large--one-half">
						<p>Extend your offroading into fall and winter in comfort with our full windshields.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="grid">
			<div class="grid__item large--one-whole text-center">
				<h2>Installation</h2>
			</div>
		</div>
		<div class="grid section">
			<div class="grid__item large--one-half">
				<div class="grid">
					<div class="grid__item large--one-half medium--one-half">
						<img src="//cdn.shopify.com/s/files/1/0871/1518/files/placeholder_medium.jpg?5565415727846142242" />
					</div>
					<div class="grid__item large--one-half medium--one-half">
						<img src="//cdn.shopify.com/s/files/1/0871/1518/files/placeholder_medium.jpg?5565415727846142242" />
					</div>
					<div class="grid__item large--one-half medium--one-half">
						<img src="//cdn.shopify.com/s/files/1/0871/1518/files/placeholder_medium.jpg?5565415727846142242" />
					</div>
					<div class="grid__item large--one-half medium--one-half">
						<img src="//cdn.shopify.com/s/files/1/0871/1518/files/placeholder_medium.jpg?5565415727846142242" />
					</div>
				</div>
			</div>
			<div class="grid__item large--one-half">
				<div class="grid">
					<div class="grid__item large--one-whole">
						<p>Installation can be done in about fifteen minutes. Each windshield comes with the following: </p>
							<ul>
							<li>1/4 inch thick polycarbonate windshield cut specifically for your model UTV</li>
							<li>Mounting hardware pack</li>
							<li>Instruction Manual (PDF)</li>
					</div>
				</div>
			</div>
		</div>
    </div>

  </div>

</div>
